@import "bsOverrides";
@import "componentInclude";

$color-mode-type: data;

.header-logo {
  width: 150px;
  display: block;
  mat-icon {
    width: 100%;
    height: auto;
  }
}

:host-context([data-bs-theme=dark]) {
  .header-logo{
    color: $white;
  }
}

:host-context([data-bs-theme=light]) {
  .header-logo{
    color: $black;
  }
}