<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Accordians</h1>
        
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <h2>Basic</h2>
        <aap-accoridon class="basic" [jsonData]="AD"></aap-accoridon>
      </div>
      <div class="col-12 col-lg-8">
        <h2>Red</h2>
        <aap-accoridon class="red" [jsonData]="AD"></aap-accoridon>
      </div>
      <div class="col-12 col-lg-8">
        <h2>Plain</h2>
        <aap-accoridon class="plain" [jsonData]="AD"></aap-accoridon>
      </div>
    </div>
  </div>
</section>
