<a href="http://www.facebook.com" target="_blank" class="socialLink socialLink-fb">
  <span class="visually-hidden">Facebook</span>
  <mat-icon aria-hidden="true" svgIcon="social-fb"></mat-icon>
</a>
<a href="http://www.instagram.com" target="_blank" class="socialLink socialLink-it">
  <span class="visually-hidden">Instagram</span>
  <mat-icon aria-hidden="true" svgIcon="social-it"></mat-icon>
</a>
<a href="http://www.linkedin.com" target="_blank" class="socialLink socialLink-li">
  <span class="visually-hidden">LinkedIn</span>
  <mat-icon aria-hidden="true" svgIcon="social-li"></mat-icon>
</a>
<a href="http://www.tiktok.com" target="_blank" class="socialLink socialLink-tt">
  <span class="visually-hidden">TikTok</span>
  <mat-icon aria-hidden="true" svgIcon="social-tt"></mat-icon>
</a>