<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <h1>{{ "headings.signUpForm" | translate }}</h1>
      <div class="form-intro">
        {{ "forms.intro" | translate }}
      </div>
      <div class="form-intro-error" aria-live="assertive">
        @if (submitted && signUpForm.invalid){
        {{ "forms.introError" | translate }}
        }
      </div>
    </div>
    <div class="col-8">
      <form focusInvalidInput [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <fieldset>
          <legend class="visually-hidden">{{ "forms.legend.name" | translate }}</legend>
          <div class="mb-2">
            <label for="fName">{{ "forms.label.fName" | translate }}<span class="required">*</span></label>
            <input type="text" #fName id="fName" formControlName="fName" class="form-control"
              [class]="{ 'valid-false': submitted && f['fName'].errors }" />
            <div class="feedback">
              @if (submitted && f['fName'].errors) {
              <div class="feedback-invalid">
                @if (f['fName'].errors['required']) {
                {{ "forms.required.fName" | translate }}
                } @if (f['fName'].errors['pattern']) {
                {{ "forms.invalid.fName" | translate }}
                }
              </div>
              }
            </div>
          </div>
          <div class="mb-2">
            <label for="lName">{{ "forms.label.lName" | translate
              }}<span class="required">*</span></label>
            <input type="text" #lName id="lName" formControlName="lName" class="form-control"
              [class]="{ 'valid-false': submitted && f['lName'].errors }" />
            <div class="feedback">
              @if (submitted && f['lName'].errors) {
              <div class="feedback-invalid">
                @if (f['lName'].errors['required']) {
                {{ "forms.required.lName" | translate }}
                } @if (f['lName'].errors['pattern']) {
                {{ "forms.invalid.lName" | translate }}
                }
              </div>
              }
            </div>
          </div>
          <div class="mb-3">
            <label for="eMail">{{ "forms.label.email" | translate
              }}<span class="required">*</span></label>
            <input type="email" id="eMail" formControlName="eMail" placeholder="name@example.com" class="form-control"
              [class]="{ 'valid-false': submitted && f['eMail'].errors }" />
            <div class="feedback">
              @if (submitted && f['eMail'].errors) {
              <div class="feedback-invalid">
                @if (f['eMail'].errors['required']) {
                {{ "forms.required.email" | translate }}
                } @if (f['eMail'].errors['pattern']) {
                {{ "forms.invalid.email" | translate }}
                }
              </div>
              }
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend class="visually-hidden">{{ "forms.legend.address" | translate }}</legend>
          <div class="mb-2">
            <label for="address">{{ "forms.label.address" | translate
              }}<span class="required">*</span></label>
            <input type="text" id="address" formControlName="address" class="form-control"
              [class]="{ 'valid-false': submitted && f['address'].errors }" />
            <div class="feedback">
              @if (submitted && f['address'].errors) {
              <div class="feedback-invalid">
                @if (f['address'].errors['required']) {
                {{ "forms.required.address" | translate }}
                }
              </div>
              }
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="mb-2">
                <label for="country">{{ "forms.label.country" | translate }}<span class="required">*</span></label>
                <select #country id="country" name="country" formControlName="country" class="form-control"
                  [class]="{ 'valid-false': submitted && f['country'].errors }">
                  <option value="" disabled selected>
                    {{ "forms.label.select" | translate }}
                  </option>
                  <option *ngFor="let country of countries; let i = index" [value]="countries[i].value">
                    {{ countries[i].label | translate }}
                  </option>
                </select>
                <div class="feedback">
                  @if (submitted && f['country'].errors) {
                  <div class="feedback-invalid">
                    @if (f['country'].errors['required']) {
                    {{ "forms.required.country" | translate }}
                    }
                  </div>
                  }
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-2">
                <label for="state">{{ "forms.label.state" | translate }}<span class="required">*</span></label>
                <select #state id="state" formControlName="state" class="form-control"
                  [class]="{ 'valid-false': submitted && f['state'].errors }">
                  <option value="">{{ "forms.label.select" | translate }}</option>
                </select>
                <div class="feedback">
                  @if (submitted && f['state'].errors) {
                  <div class="feedback-invalid">
                    @if (f['state'].errors['required']) {
                    {{ "forms.required.state" | translate }}
                    }
                  </div>
                  }
                </div>
              </div>
              <div class="mb-2">
                <label for="province">{{ "forms.label.province" | translate }}<span class="required">*</span></label>
                <select #province id="province" formControlName="province" class="form-control"
                  [class]="{ 'valid-false': submitted && f['province'].errors }">
                  <option value="">{{ "forms.label.select" | translate }}</option>
                  <option *ngFor="let province of provinces; let i = index" [value]="provinces[i].value">
                    {{ provinces[i].label | translate }}
                  </option>
                </select>
                <div class="feedback">
                  @if (submitted && f['province'].errors) {
                  <div class="feedback-invalid">
                    @if (f['province'].errors['required']) {
                    {{ "forms.required.province" | translate }}
                    }
                  </div>
                  }
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="mb-2">
                <label for="city">City<span class="required">*</span></label>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-2">
                @if (country.value == 'us'){
                <label for="usZipCode">Zip Code<span class="required">*</span></label>
                <input type="text" id="usZipCode" formControlName="usZipCode" class="form-control" [class]="{
                    'valid-false': submitted && f['usZipCode'].errors
                  }" placeholder="xxxxx" />
                <div class="feedback">
                  @if (submitted && f['usZipCode'].errors) {
                  <div class="feedback-invalid">
                    @if (f['usZipCode'].errors['required']) {
                    {{ "forms.required.usZipCode" | translate }}
                    } @if (f['usZipCode'].errors['pattern']) {
                    {{ "forms.invalid.usZipCode" | translate }}
                    }
                  </div>
                  }
                </div>
                } @if (country.value == 'ca'){
                <label for="canPostalCode">Postal Code<span class="required">*</span></label>
                <input type="text" #canPostalCode id="canPostalCode" formControlName="canPostalCode"
                  class="form-control" [class]="{
                    'valid-false': submitted && f['canPostalCode'].errors
                  }" placeholder="A0A 0A0" (input)="
                    canPostalCode.value = canPostalCode.value.toUpperCase()
                  " />
                <div class="feedback">
                  @if (submitted && f['canPostalCode'].errors) {
                  <div class="feedback-invalid">
                    @if (f['canPostalCode'].errors['required']) {
                    {{ "forms.required.canPostalCode" | translate }}
                    } @if (f['canPostalCode'].errors['pattern']) {
                    {{ "forms.invalid.canPostalCode" | translate }}
                    }
                  </div>
                  }
                </div>
                }
              </div>
              <div class="mb-2"></div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend class="visually-hidden">{{ "forms.legend.controls" | translate }}</legend>
          <div class="mb-3">
            <button type="submit" class="btn btn-primary">Register</button>
            <button type="button" (click)="onReset()" class="btn btn-warning">
              Reset
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>