<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{ "headings.signUpForm" | translate}}</h1>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <fieldset>
          <legend>Name and Email Address</legend>
          <div class="mb-2">
            <label for="fName">{{ "forms.fName" | translate}}</label>
            <input type="text" id="fName" formControlName="fName" class="form-control"
              [class]="{ 'valid-false': submitted && f['fName'].errors }">
            <div class="feedback">
              @if (submitted && f['fName'].errors) {
              <div class="feedback-invalid">
                @if (f['fName'].errors['required']) {
                  {{ "forms.required.fName" | translate}}
                }
                @if (f['fName'].errors['pattern']) {
                  {{ "forms.invalid.fName" | translate}}
                }
              </div>
              }
            </div>
          </div>
          <div class="mb-2">
            <label for="lName">{{ "forms.lName" | translate}}</label>
            <input type="text" id="fName" formControlName="lName" class="form-control"
              [class]="{ 'valid-false': submitted && f['lName'].errors }">
            <div class="feedback">
              @if (submitted && f['lName'].errors) {
              <div class="feedback-invalid">
                @if (f['lName'].errors['required']) {
                  {{ "forms.required.lName" | translate}}
                }
                @if (f['lName'].errors['pattern']) {
                  {{ "forms.invalid.lName" | translate}}
                }
              </div>
              }
            </div>
          </div>
          <div class="mb-3">
            <label for="eMail">{{ "forms.email" | translate}}</label>
            <input type="email" id="eMail" formControlName="eMail" placeholder="name@example.com" class="form-control"
              [class]="{ 'valid-false': submitted && f['eMail'].errors }">
            <div class="feedback">
              @if (submitted && f['eMail'].errors) {
              <div class="feedback-invalid">
                @if (f['eMail'].errors['required']) {
                  {{ "forms.required.email" | translate}}
                }
                @if (f['eMail'].errors['pattern']) {
                  {{ "forms.invalid.email" | translate}}
                }
              </div>
              }
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Address</legend>
          <div class="mb-2">
            <label for="address">{{ "forms.address" | translate}}</label>
            <input type="text" id="address" formControlName="address" class="form-control"
              [class]="{ 'valid-false': submitted && f['address'].errors }">
              <div class="feedback">
                @if (submitted && f['address'].errors) {
                <div class="feedback-invalid">
                  @if (f['address'].errors['required']) {
                    {{ "forms.required.address" | translate}}
                  }
                </div>
                }
              </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="mb-2">
                <label for="country">County</label>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-2">
                <label for="state">State</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="mb-2">
                <label for="country">City</label>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-2">
                <label for="state">Postal Code</label>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Form Controls</legend>
          <div class="mb-3">
            <button type="submit" class="btn btn-primary">Register</button>
            <button type="button" (click)="onReset()" class="btn btn-warning">
              Reset
            </button>
          </div>
        </fieldset>


      </form>



    </div>
  </div>
</div>