<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <h3>Quick Links</h3>
      <footer-nav></footer-nav>
    </div>
    <div class="col-4">
      <h3>Social</h3>
      <footer-social></footer-social>
    </div>
    <div class="col-4">
      <h3>Sign Up</h3>
      <footer-signup></footer-signup>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-5 mt-5 d-flex justify-content-center">
      Copyright &#64; {{ currentYear }} Site Name
    </div>
  </div>
</div>

