@import 'bsOverrides';
@import 'componentInclude';


.snackBar{
  &-notification{
    .mdc-snackbar__surface.mat-mdc-snackbar-surface{
      background: rgba(var(--web-black-rgb),0.6);
      border: 2px solid #495057;
      border-radius: 10px;
      padding: 25px 50px;
    }
  }
  &-alert{
    .mdc-snackbar__surface.mat-mdc-snackbar-surface{
      background: rgba(var(--web-black-rgb),0.6);
      border: 2px solid red;
      border-radius: 10px;
      padding: 25px 50px;
    }
  }
  &-error{

  }
}