@import 'bsOverrides';
@import 'componentInclude';

.snackDefault{
  border-radius: 10px;
  text-align: center;
  @include boxShadow (2, 3, 300);
}

.snack{

  &-alert{
    .mdc-snackbar__surface.mat-mdc-snackbar-surface{
      @extend .snackDefault;
      background: rgba(var(--web-success-rgb),0.75);
      border: 2px solid var(--web-green);
    }
  }
  &-error{
    .mdc-snackbar__surface.mat-mdc-snackbar-surface{
      @extend .snackDefault;
      background: rgba(var(--web-danger-rgb),0.75);
      border: 2px solid var(--web-red);
    }
  }
}