<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-4">
      <h3>Quick Links</h3>
      <footer-nav class="d-flex px-3"></footer-nav>
    </div>
    <div class="col-12 col-lg-4 mb-5 mb-lg-0">
      <h3>Social</h3>
      <footer-social class="px-3 d-flex justify-content-between"></footer-social>
    </div>
    <div class="col-12 col-lg-4">
      <h3>Sign Up</h3>
      <footer-signup class="d-flex flex-column px-3"></footer-signup>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-5 mt-5 d-flex justify-content-center">
      Copyright &#64; {{ currentYear }} Site Name
    </div>
  </div>
</div>

