<a href="http://www.facebook.com" target="_blank" class="socialLink socialLink-fb">
  <mat-icon aria-hidden="true" svgIcon="social-fb"></mat-icon>
</a>
<a href="http://www.instagram.com" target="_blank" class="socialLink socialLink-it">
  <mat-icon aria-hidden="true" svgIcon="social-it"></mat-icon>
</a>
<a href="http://www.linkedin.com" target="_blank" class="socialLink socialLink-li">
  <mat-icon aria-hidden="true" svgIcon="social-li"></mat-icon>
</a>
<a href="http://www.tiktok.com" target="_blank" class="socialLink socialLink-tt">
  <mat-icon aria-hidden="true" svgIcon="social-tt"></mat-icon>
</a>