<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{ "headings.siteMap" | translate }}</h1>
      <nav>
        <ul>
          @for ( route of routes; track $index )
          {
            <li>
              <a 
                [routerLink]="'/' + [route.path]" 
                routerLinkActive="active">
                  {{ route.data?.['label'] | translate }}
              </a>
              @if ( route.children )
              {
                <ul>
                  @for ( child of route.children; track $index )
                  {
                    <li>
                      <a 
                        [routerLink]="'/' + [child.path]" 
                        routerLinkActive="active">
                          {{ child.data?.['label'] | translate }}
                      </a>
                    </li>
                  }
                </ul>
              }
            </li>
          }
        </ul>
      </nav>
    </div>
  </div>
</div>
