<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{ "headings.apiFeed" | translate }}</h1>            
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>This is the example post feed</h3>
      <div class="row posts">
        @for (post of posts; track post)
        {
        <div class="post col-12 col-lg-4">
          <h4>{{ post.title }}</h4>
          <p>{{ post.body }}</p>
        </div>
        }
      </div>
    </div>
  </div>
</div>