@import "bsOverrides";
@import "componentInclude";

@import "carousel";
@import "custom/buttons";

.carousel {
  &-caption {
    background-color: rgba(0, 0, 0, 0.10);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    bottom: unset;
    top: unset;
    right: unset;
    left: unset;
    a {
      text-decoration: none;
      &.btn-secondary{
        color: $white;
        border-color: $white;
        &:hover{
          color: $blue;
          border-color: $blue;
        }
      }
    }
    &.p1 {
      left: 15px;
      right: 15px;
      bottom: 15px;
      @include media-breakpoint-up(lg) {
        top: 15px;
        bottom: unset;
        right: 50%;
      }
    }
    &.p2 {
      left: 15px;
      right: 15px;
      bottom: 15px;
      @include media-breakpoint-up(lg) {
        top: 15px;
        bottom: unset;
        right: 15px;
        left: 50%;
      }
    }
    &.p3 {
      left: 15px;
      right: 15px;
      bottom: 15px;
      @include media-breakpoint-up(lg) {
        bottom: 5%;
        right: 50%;
        left: 15px;
      }
    }
    &.p4 {
      left: 15px;
      right: 15px;
      bottom: 15px;
      @include media-breakpoint-up(lg) {
        bottom: 15px;
        right: 15px;
        left: 50%;
      }
    }
    &.p5 {
      left: 15px;
      right: 15px;
      bottom: 15px;
      @include media-breakpoint-up(lg) {
        top: 15px;
        right: 25%;
        left: 25%;
        bottom: unset;
      }
    }
    &.p6 {
      left: 15px;
      right: 15px;
      bottom: 15px;
      @include media-breakpoint-up(lg) {
        bottom: 5%;
        right: 25%;
        left: 25%;
      }
    }
  }
  &-control-prev {
    width: 5%;
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
  &-control-next {
    width: 5%;
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
  &-indicators {
    display: none;
    @include media-breakpoint-up(lg) {
      display: flex;
    }
    margin-bottom: 5px;
    [data-bs-target] {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 0;
    }
  }
  &-item {
    img {
      width: 100%;
    }
  }
}
