@import 'bsOverrides';
@import 'componentInclude';

@import 'custom/buttons';

*{
  color: $footerMain;
}

input{
  border: 1px solid $footerMain;
  background-color: $footerMain;
  color: $blue;
  padding-left: 10px;
  border-top-left-radius: var(--web-border-radius);
  border-bottom-left-radius: var(--web-border-radius);
}