@import "bsOverrides";
@import "componentInclude";

@import "nav";
@import "navbar";
@import "offcanvas";
@import "dropdown";

@import "custom/buttons";

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: $silver;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 10;
  }
  .offcanvas-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.header {
  &-search {
    border: 1px solid var(--web-gray-400);
    padding-left: 10px;
    border-top-left-radius: var(--web-border-radius);
    border-bottom-left-radius: var(--web-border-radius);
  }
}

// nav bar custimization

.navItem {
  font-size: 24px;
  @include media-breakpoint-up(lg) {
    font-size: 20px;
    font-weight: 400;
  }
}

.navbar {
  .nav {
    &-item {
      &.active,
      &:hover {
        .nav-link {
          color: $blue;
        }
      }
    }
    &-link {
      @extend .navItem;
    }
  }
  .dropdown {
    &-menu {
      border: 0;
      li {
        &.active,
        &:hover {
          a {
            background-color: transparent;
            color: $blue;
          }
        }
        a {
          @extend .navItem;
        }
      }
    }
    &-item {
      &.active,
      &:hover {
        .nav-link {
          color: $blue !important;
        }
      }
    }
  }
}
