<div class="container">
  <div class="row">
    <div class="col-12"><h1>The News</h1></div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="newsArticles row">
        <aap-loading 
          [isLoading]="isLoading" 
          [isError]="isError" 
          [errorMessage]="errorMessage"></aap-loading>

        @for (article of story; track article; let i = $index) {
          <a
            class="article col-12 col-lg-3"
            href="{{ article.url }}"
            target="_blank"
            [class]="i === 0 ? 'col-lg-12' : ''"
          >
            <figure class="article-header">
              <img src="{{ article.urlToImage }}" alt="{{ article.title }}" />
              <caption>
                {{
                  article.title
                }}
              </caption>
            </figure>
            <div class="article-body">
              <p>{{ article.source.name }}</p>
            </div>
          </a>
          }
      </div>
    </div>
  </div>
</div>
