@import 'bsOverrides';
@import 'componentInclude';

.newsArticles {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  .article {
    // width: 18%;
    display: flex;
    flex-flow: column;
    text-decoration: none;
    &-header {
      display: flex;
      flex-flow: column;
      img {
        width: 100%;
      }
      caption{
        font-size: .9rem;
        line-height: 1;
      }
    }
    &-body{
      h4{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.25rem;
        font-weight: 400;
      }
    }

  }
}
