<div class="accordion" id="accordion-{{ aid }}">
  @for( accordion of jsonData; track accordion; let i = $index ){
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        attr.data-bs-target="#collapse-{{ aid }}--{{ i }}"
        [attr.aria-expanded]="i === 0 ? 'true' : 'false'"
        attr.aria-controls="collapse-{{ i }}">
        @if (accordion.headingIcon){
        <mat-icon class="me-3">{{ accordion.headingIcon }}</mat-icon>
        }
        {{ accordion.heading }}
      </button>
    </h2>
    <div
      id="collapse-{{ aid }}--{{ i }}"
      class="accordion-collapse collapse"
      [class]="i === 0 ? 'show' : ''"
      attr.data-bs-parent="#accordion-{{ aid }}"
    >
      <div class="accordion-body" [innerHTML]="accordion.body"></div>
    </div>
  </div>
  }
</div>
