@import 'bsOverrides';
@import 'componentInclude';

@import 'accordion';

:host{
  .accordion{
    &-button{
      font-weight: 700;
    }
  }
  &.basic{

  }
  &.red{
    .accordion{
      &-button{
        background-color: var(--web-red);
      }
    }
  }
  &.plain{
    .accordion{
      &-item{
        border: 0;
      }
      &-button{
        font-size: 16px;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        padding: 5px;
      }
    }
  }
}