@import "bsOverrides";
@import "componentInclude";

@import "carousel";

.review{
  display: flex;
  flex-flow: column;
  &-profile{
    border-bottom: 1px solid $borderColour;
    gap: 15px;
    padding: 0 0 15px 0;
    img{
      border-radius: 50%;
    }
    .name{
      font-style: italic;
    }
  }
  &-stars{
    margin: 10px 0;
  }
  &-body{

  }
}