<div id="{{ silderID }}" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    @for (review of jsonData; track review; let i = $index){
      @if ( review.rating > 3){
      <div class="carousel-item row" [class.active]="i === 0">
        <div class="review">
          <div class="review-profile w-100 d-flex flex-row">
            <img src="{{ review.headShot }}" width="64px" height="64px" />
            <p class="name">{{ review.first }}</p>
          </div>
          <div class="review-stars w-100 d-flex">
            <aap-review-stars [displayMode]="review" rating="{{ review.rating }}">
            </aap-review-stars>
          </div>
          <div class="review-body w-100 d-flex flex-column">
            <p>{{ review.review }}</p>
          </div>
        </div>
      </div>
      }
    }
  </div>
</div>