@import "bsOverrides";
@import "componentInclude";

@import "carousel";

.review{
  display: flex;
  flex-flow: row;
  &-profile{
    img{
      border-radius: 5px;
    }
    .name{
      font-style: italic;
    }
  }
}