@import 'bsOverrides';
@import 'componentInclude';

.reviewStars{
  position: relative;
  height: 25px;
}

.mat-icon{
  --mat-icon-color:var(--web-orange);
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
}