<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>About us</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <aap-about-us-nav></aap-about-us-nav>
    </div>
    <div class="col-12 col-lg-9">
      <p>
        Welcome to my Angular Dev site. This site is more if a tresting ground
        for my personal Angular work, and less a portfolio site. What you will
        find here are various UI/UX components, that may change as I enchance
        and refactor the code.
      </p>
      <p>
        Another aspect is WCAG 2.2 compliance. This is an ongoing task, and at
        times there may be errors.
      </p>
      <p>
        If you wish to explore the source code, you can find it here on
        <a href="https://github.com/mjhandy/web-prototype" target="_blank"
          >GitHub</a
        >. Some items, such as the new feed, will only run under
        Http://localhost.
      </p>
      <p>
        If you wish to reach out, I can be reached via email
        <a href="mailto:mjhandy@outlook.com">mjhandy&#64;outlook.com</a>
      </p>
      <p>Thanks!</p>
    </div>
  </div>
</div>
