<div class="d-flex flex-column flex-lg-row packages w-100">
  @for ( package of jsonData; track package; let i = $index){
  <a
    routerLink="{{ package.detailURL }}"
    fragment="{{ package.title }}"
    class="d-flex flex-column flex-fill package"
    [class]="package.flag ? 'highlight ' : ''">
    <div class="package-header" [class]="'p' + $index">
      <h2 class="h3">{{ package.title }}</h2>
    </div>
    <div class="package-body">
      <p>{{ package.description }}</p>
      <ul>
        @for (point of package.points; track point){
        <li>{{ point.point }}</li>
        }
      </ul>
    </div>
    <div class="package-footer"></div>
  </a>
  }
</div>
