<section id="heroBanner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <aap-slider [jsonData]="slideData"></aap-slider>
      </div>
    </div>
  </div> 
</section>
<section id="pricingTable">
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <h1>Packages</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 d-flex justify-content-center">
        <aap-pricingtable [jsonData]="pricingData"></aap-pricingtable>
      </div>
    </div>
  </div>
</section>
<section id="faqs">
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <h1>FAQ</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 justify-content-center">
        <aap-accoridon [jsonData]="AD" class="faq"></aap-accoridon>
      </div>
    </div>
  </div>
</section>