<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>About us</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <aap-about-us-nav></aap-about-us-nav>
    </div>
    <div class="col-12 col-lg-10">
      <div id="history" class="">
        @for ( item of HD; track item; let i = $index ){
          <div class="history" id="h-{{ i }}">
            <div class="year">
              {{ item.year }}
            </div>
            @if ( item.entry){
            <div class="entry">
              @for ( entry of item.entry; track entry; let ei = $index){
                <h3>{{ entry.heading }}</h3>
                <p>{{ entry.date }}</p>
                <div [innerHTML]="entry.body"></div>
              }
            </div>
            } 
          </div>
        }
      </div>
    </div>
  </div>
</div>