<div [formGroup]="form">
  <label [attr.for]="question.key">{{ question.label | translate}} <span class="required">*</span></label>
  
    @switch (question.controlType) {
      @case ('textbox') {
        <input 
          [formControlName]="question.key" 
          [id]="question.key" 
          [type]="question.type" 
          class="form-control"
          [pattern]="question.vpattern" 
          [class]="{  'valid-false': !isValid && submitted  }"
          placeholder="{{ question.label | translate}}">
      } 
      @case ('dropdown') {
        <select [id]="question.key" [formControlName]="question.key" class="form-control">
          <option value="" disabled selected>
            {{ "forms.label.select" | translate }}
          </option>
          @for (opt of question.options; track opt) {
            <option [value]="opt.key">{{ opt.value }}</option>
          }
        </select>
      }
      @case ('checkbox'){
        <input 
          [formControlName]="question.key" 
          [id]="question.key" 
          [type]="question.type" 
          class="form-control"
          [pattern]="question.vpattern" 
          [class]="{  'valid-false': !isValid && submitted  }">
      }
    }

  <div class="feedback">
    @if (!isValid ) {
      <div class="feedback-invalid">{{ question.label | translate }} is required</div>
    }
  </div>
  
  
</div>